.list-group-item.selected, .list-group-item.selected:focus, .list-group-item.selected:hover{
	z-index: 2;
	color: #fff;
	background-color: #B20B13;
	border-color: #B20B13;
}

.margin-t10{
	margin-top: 10px;
}

.page-header h3{
	display: inline;
}

.page-header span{
	font-size: 18px;
}

img.media-object{
	height: 64px;
	width: 64px;
	border-radius: 50%;
}

/* user-focus 页面的样式 */
/* ======================> */
.user-card{
	border: #00F7DE solid 1px;
	margin-bottom: 15px;
}

.media .media-body .info-detail{
	padding-top: 10px;
	padding-bottom: 5px;
}

.media .media-body .info-detail .attribute{
	color: #009688;
	font-size: 18px;
	font-weight: 700;
}

.media .media-body .info-detail .value{
	color: #23527C;
	font-size: 16px;
}

/* <========================== */

/* user-collect 页面样式 */
/* ======================> */
h4.media-heading{
	cursor: pointer;
	color: #01AAED;
}

h4.media-heading:hover{
	cursor: pointer;
	color: brown;
}

.media-footer{
	padding: 5px;
	border-bottom: 1px solid #eee;
	margin-bottom: 15px;
}

.media-footer span {
	
	cursor: pointer;
}

.media-footer span:hover{
	cursor: pointer;
	color: brown
}

.media-footer a{
	cursor: pointer;
}

.media-footer a:hover{
	cursor: pointer;
	color: brown;
}
/* <====================== */


/* user-fans user-profile 页面样式 */
/* ======================> */
.thumbnail img{
	height: 100px;
	width: 100px;
	border-radius: 25%;
	cursor: pointer;
}

.thumbnail .caption .info-detail {
	padding-top: 5px;
	padding-bottom: 5px;
}

.thumbnail .caption .info-detail .attribute{
	font-size: 18px;
	color: #0F9888;
}

.thumbnail .caption .info-detail .value{
	font-size: 16px;
}

.form-group label{
	display: inline-block;
	
	width: 15%;
	
	margin-bottom: 5px;
	
	font-weight: 700;
}

.form-input{
	width: 70%;
	
	display: inline-block;
}